mat-slider {
  width: 300px;
}

.disableDiv {
  opacity: 0.6;
  pointer-events: none;
}

.mainsec .accorDiv .card .card-body .input-field {
  position: relative;
  overflow: hidden;
}
.mainsec .accorDiv .card .card-body .input-field input, .mainsec .accorDiv .card .card-body .input-field select {
  margin-top: 29px;
}
.mainsec .accorDiv .card .card-body .input-field::after {
  content: '';
  width: 1px;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 45%;
  border-bottom: 1px solid #00618e;
  background-color: #00618e;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  visibility: hidden;
}

.mainsec .accorDiv .card .card-body .input-field input {
  margin-top: 29px;
}

.mainsec .accorDiv .card .card-body .input-field label {
  margin: 0;
  position: absolute;
  top: 38px;
  left: 30px;
  color: #c1c1c1;
  cursor: text;
  font: 400 13px "Roboto", sans-serif;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
}

.mainsec .accorDiv .card .card-body .input-field.focused label {
  top: 4px;
  left: 15px;
  color: #939393;
  font: 500 14px "Roboto", sans-serif;
}
.mainsec .accorDiv .card .card-body .input-field.focused::after {
  width: 100%;
  left: 0;
  visibility: visible;
}
/* .mainsec .accorDiv .card .card-body .form-control:focus {
  content: "";
  position: absolute;
  z-index: 0;
  height: 0px;
  bottom: 0px;
  left: 0;
  right: 0;
  background: #00618e;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transition-duration: 1.3s;
  transition-duration: 1.3s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
} */
