<!DOCTYPE html>
<html>

<!-- <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head> -->
<script>
  function myFunction1() {
    var x = document.getElementById("desSumIns").value;
    document.getElementById("desSumInsvalue").innerHTML = x;
  }
</script>

<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });

  $('a.card-link').click(function () {
    $("html, body").animate({
      scrollTop: 0
    }, 200);
  });
</script>

<!-- Main -->
<!-- <div class="container title">
  <h2></h2>
</div> -->
<div class="mainsec">
  <div class="accorDiv">
    <div class="card">
      <!-- <div class="card-header">
    <a class="card-link" id="linkSegment" data-toggle="collapse" href="#segDetails">Segment Details</a>
  </div> -->
      <div id="segDetails" class="collapse show" data-parent="#accordion" style="background: #003d59;">
        <div class="card-body">

          <div class="text-center cmnbox pb-0">
            <div class="container" style="text-align: left;">
              <label style="color: #7795a3;font-family: Muli;font-size: 28px;font-weight: 300;font-stretch: normal;font-style: normal;line-height: 1.46;letter-spacing: normal;
              text-align: left;color: #7795a3;">Segments Details</label>
            </div>
            <div class="container" style="text-align: left;">
              <label style="color: #7795a3;font-family: Muli;font-size: 16px;font-weight: 300;font-stretch: normal;font-style: normal;line-height: 1.46;letter-spacing: normal;
              text-align: left;color: #7795a3;">Select Segment</label><sup style="color: #7795a3;">*</sup>
            </div>
            <ul class="tab_btns">
              <li>
                <button type="button" id='dwellings' (click)="clickResidential($event.currentTarget.id)">
                  <img src="assets/images/home1.png" *ngIf='Residential==false'
                    style="width: 90px;height: 90px;object-fit: contain;" />
                  <img src="assets/images/home1-active.png" *ngIf='Residential==true'
                    style="width: 90px;height: 90px;object-fit: contain;" />
                </button>
                <span style="color: #7795a3;">Residential</span>
              </li>
              <li>
                <button type="button" id='non_industrial' (click)="clickNonIndustrial($event.currentTarget.id)">
                  <img src="assets/images/game-cube1.png" *ngIf='Non_industrial==false'
                    style="width: 90px;height: 90px;object-fit: contain;" />
                  <img src="assets/images/game-cube1-active.png" *ngIf='Non_industrial==true'
                    style="width: 90px;height: 90px;object-fit: contain;" />
                </button>
                <span style="color: #7795a3;">Non-Industrial</span>
              </li>
              <li>
                <button type="button" id='industrial' (click)="clickIndustrial($event.currentTarget.id)">
                  <img src="assets/images/industry1.png" *ngIf='Industrial==false'
                    style="width: 90px;height: 90px;object-fit: contain;" />
                  <img src="assets/images/industry1-active.png" *ngIf='Industrial==true'
                    style="width: 90px;height: 90px;object-fit: contain;" />
                </button>
                <span style="color: #7795a3;">Industrial</span>
              </li>
              <li>
                <button type="button" id='storage' (click)="clickStorage($event.currentTarget.id)">
                  <img src="assets/images/server.png" *ngIf='Storage==false'
                    style="width: 90px;height: 90px;object-fit: contain;" />
                  <img src="assets/images/server-active.png" *ngIf='Storage==true'
                    style="width: 90px;height: 90px;object-fit: contain;" />
                </button>
                <span style="color: #7795a3;">Storage</span>
              </li>
            </ul>
          </div>
          <div class="cmnbox container">
            <form [formGroup]="easyProtectForm">
              <div class="col-12">
                <div class="row">
                  <!-- Search Occupancy -->
                  <div class="col-xl-6 col-lg-6 col-md-6 form-group input-field">
                    <input list="vehicleMake2" id='occupancyID' type="text" formControlName='Occupancy'
                      class="form-control srch" placeholder="" (change)="selectOccupancy($event.target.value)"
                      style="color:#ffffff;border-bottom:1px solid #7795a3;background-color:#003d59" />
                    <label style="color: #7795a3;" for='occupancyID'>Search Occupancy <sup>*</sup></label>
                    <datalist id="vehicleMake2">
                      <option style="background: #feefe2" *ngFor="let make of allOccupancy" [value]="make.name">
                    </datalist>
                  </div>
                  <!-- Property Type -->
                  <div class="col-xl-6 col-lg-6 col-md-6 form-group">
                    <label style="color: #7795a3;">Property Type <sup>*</sup></label>
                    <div class="radio2" style="border: none !important; box-shadow: none !important">
                      <div class="radio-item">
                        <input type="radio" id="ownedyes" name="PropertyType" value="Owned"
                          formControlName='PropertyType'>
                        <label for="ownedyes" style="color: white;">Owned</label>
                      </div>
                      <div class="radio-item">
                        <input type="radio" id="rentedyes" name="PropertyType" value="Rented"
                          formControlName='PropertyType'>
                        <label for="rentedyes" style="color: white;">Rented</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- Risk Pincode -->
                  <div class="col-xl-6 col-lg-6 col-md-6 form-group input-field">
                    <input autocomplete="off"
                      style="color:#ffffff;border-bottom:1px solid #7795a3;background-color:#003d59" type="text"
                      class="form-control" id="riskpincode" (input)="findPincodeZone($event.target.value)"
                      formControlName='RiskPincode' (input)="getPincodeDetails($event.target.value)"
                      (keypress)="numberOnly($event)" placeholder="" />
                    <label style="color: #7795a3;" for='riskpincode'>Risk Location Pincode <sup>*</sup></label>
                  </div>
                  <!-- State -->
                  <div class="col-xl-6 col-lg-6 col-md-6 form-group">
                    <div class="input-field">
                      <label style="color: #7795a3;" for='custState'>Customer State(Applicable for
                        GST)<sup>*</sup></label>
                      <select autocomplete="off"
                        style="color:#ffffff;border-bottom: solid 1px #7795a3;background-color:#003d59"
                        formControlName="CustomerState" (change)=getState($event) required id="custState"
                        class="form-control srch">
                        <!-- <option class="optionBG" value="" disabled selected>Select State</option> -->
                        <option class="optionBG" value={{state.StateName}} *ngFor="let state of stateMasterHB">
                          {{state.StateName | uppercase }}</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!-- lONG tERM dWELLING -->
                  <div class="col-lg-3 col-md-4 col-sm-6 form-group" *ngIf="Residential">
                    <label style="color: #7795a3;">Long term Dwelling Required?</label>
                    <div class="radio2" style="border: none !important; box-shadow: none !important">
                      <div class="radio-item">
                        <input type="radio" id="ritema" name="ritem" value="Yes" (change)='getLongTermDwelling(true)'
                          [checked]='isLongTermDwelling==true'>
                        <label for="ritema" style="color: white;">Yes</label>
                      </div>

                      <div class="radio-item">
                        <input type="radio" id="ritemb" name="ritem" value="No" (change)='getLongTermDwelling(false)'
                          [checked]='isLongTermDwelling==false'>
                        <label for="ritemb" style="color: white;">No</label>
                      </div>
                    </div>
                  </div>

                  <!-- No of Years -->
                  <div class="col-lg-3 col-md-4 col-sm-6 form-group" *ngIf='isLongTermDwelling && Residential'>
                    <div class="input-field">
                      <label for="longTremDwell" class="auto_height" style="color: #7795a3;">Number of Years</label>
                      <select (change)=getSelectedLongTermYear($event.target.value) required id="longTremDwell"
                        class="form-control srch"
                        style="color:#ffffff;border-bottom: solid 1px #7795a3;background-color:#003d59">
                        <!-- <option class="optionBG" value="" disabled selected>Select Years</option> -->
                        <option class="optionBG" value={{y}} *ngFor="let y of yearsArray">
                          {{y}}</option>
                      </select>
                    </div>
                  </div>

                </div>
                <div class="col-12 mt-2 mb-2 text-center" #divToScroll>
                  <button type="button" class="cstmbtn" (click)="validateQuote()">Next</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<section class="container-fluid mainsec">
  <div class="row">

    <div class="container">
      <div class="row">
        <div class="col-12 accorDiv" id="accordion">
          <!-- Segment Details Card -->


          <!-- Quick Quote Details Card -->
          <div class="card">
            <div class="card-header">
              <a class="card-link" id="quotelink" data-toggle="collapse" href="#qQuote">Quick Quote</a>
            </div>
            <div id="qQuote" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <div class="cmnbox brdrBtm">
                  <div class="col-12">
                    <div class="row">
                      <!-- Buglary Required -->
                      <div class="col-lg-3 col-md-4 col-sm-6 form-group">
                        <label>Burglary Required</label>
                        <div class="radio1" style="border: none !important; box-shadow: none !important">
                          <div class="radio-item2">
                            <input type="radio" id="burgyes" name="BurglarySelection" value="Yes"
                              (change)="bulgaryCalculation(true)">
                            <label for="burgyes">Yes</label>
                          </div>
                          <div class="radio-item2">
                            <input type="radio" id="burgno" name="BurglarySelection" value="No"
                              (change)="bulgaryCalculation(false)" checked>
                            <label for="burgno">No</label>
                          </div>
                        </div>
                      </div>
                      <!-- Terrorism Option -->
                      <div class="col-lg-3 col-md-4 col-sm-6 form-group">
                        <label>Terrorism Cover</label>
                        <div class="radio1" style="border: none !important; box-shadow: none !important">
                          <div class="radio-item2">
                            <input type="radio" id="terroryes" name="TerrorismSelection" value="Yes"
                              (change)="getTerrorismOption(true)">
                            <label for="terroryes">Yes</label>
                          </div>
                          <div class="radio-item2">
                            <input type="radio" id="terrorno" name="TerrorismSelection" value="No"
                              (change)="getTerrorismOption(false)" checked>
                            <label for="terrorno">No</label>
                          </div>
                        </div>
                      </div>
                      <!-- Total Sum Insured -->
                      <!-- <div class="col-lg-3 col-md-4 col-sm-6 form-group">
                        <label>Total Sum Insured ( <img src="assets/images/rupee-grey.png" alt="rupee"> )</label>
                        <div class="rangediv">
                          <strong id="desSumInsvalue" (input)="quickQouteCalculation()"
                            class="text-center">{{valueRange}}</strong>
                          <input type="range" class="custom-range" [max]="maxRange" [min]="minRange" [step]="stepRange"
                            [(ngModel)]="valueRange" (change)="quickQouteCalculation()" id="desSumIns">
                          <span class="float-left">1Lac</span> <span class="float-right">1Cr</span>
                        </div>
                      </div> -->
                      <div class="col-lg-3 col-md-4 col-sm-6 form-group input-field">
                        <input type="number" id='sumInsuredID' class="form-control quest" placeholder=""
                          [(ngModel)]="valueRange" (input)="restrictTotalSI($event.target.value)" />
                        <label for='sumInsuredID'>Total Sum Insured ( <img src="assets/images/rupee-grey.png"
                            alt="rupee"> )</label>
                      </div>




                    </div>
                    <!-- Premium Amount -->
                    <ul class="premiumUl">

                      <li>
                        <div>
                          <span>Fire Premium</span>
                          <strong data-toggle="modal" data-target="#revPremModal" (click)='bindRevisedPremium()'>₹
                            {{finalPremimum | number:'1.0-0'}} </strong> <img src="assets/images/question2.png"
                            data-toggle="modal" data-target="#fireBrkupModal" width="18" />
                        </div>
                      </li>
                      <li>
                        <div *ngIf='isBuglary'>
                          <span>Burglary Premium</span>
                          <strong> ₹ {{bulgarytotalRate | number:'1.0-0'}} <img src="assets/images/question2.png"
                              data-toggle="modal" data-target="#burgBrkupModal" width="18" /></strong>
                        </div>
                      </li>
                    </ul>

                    <!-- <div class="row" style="padding: 10px;border-radius: 10px;-webkit-border-radius: 10px;-moz-border-radius: 10px;
                    background-color: #063b6d;">
                      <div class="col-12" style="margin-bottom: 10px;display: block;color: #fff;font: 500 16px Roboto, sans-serif;
                  ">
                        <div [ngClass]="{'col-6': isBuglary, 'col-12': isBuglary}">
                          <div>Fire Premium</div>
                          <strong data-toggle="modal" data-target="#revPremModal" style="
                    padding-left: 15px;background: url(../images/rupee.png) no-repeat left center/11px;
                    color: #fff;font: 500 23px Roboto, sans-serif;
                " (click)='bindRevisedPremium()'>{{finalPremimum | number:'1.0-0'}}
                            <img src="assets/images/question2.png" data-toggle="modal" data-target="#fireBrkupModal"
                              width="18" /></strong>
                        </div>
                        <div [ngClass]="{'col-6': isBuglary, 'col-12': isBuglary}" *ngIf='isBuglary'>
                          <div>Burglary Premium</div>
                          <strong *ngIf='isBuglary'>{{bulgarytotalRate | number:'1.0-0'}} <img
                              src="assets/images/question2.png" data-toggle="modal" data-target="#burgBrkupModal"
                              width="18" /></strong>
                        </div>



                      </div>
                    </div> -->

                    <!-- Sum Insured Fire Details -->
                    <h4>Sum Insured Component Fire Details:</h4>
                    <div class="row">
                      <!-- SI For Building -->
                      <div class="col-lg-4 col-md-6 form-group">
                        <div class="input-field">
                          <input type="number" id='sibuildingID' class="form-control quest" placeholder=""
                            [(ngModel)]="SIforBuilding" (input)='getTotalSI()' />
                          <label for='sibuildingID' style="color: #7795a3;">SI For Building</label>
                          <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
                            title="Building includes Plinth and foundation, boundary wall and utilities related to the building">
                            <img src="assets/images/question2.png" width="18" />
                          </a>
                        </div>
                      </div>

                      <!-- SI For Contents -->
                      <div class="col-lg-4 col-md-6 form-group">
                        <div class="input-field">
                          <input type="number" id='sicontentID' class="form-control quest" placeholder=""
                            [(ngModel)]="SIforContents" (input)='getTotalSI()' />
                          <label for='sicontentID' style="color: #7795a3;">SI For Contents</label>
                          <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
                            title="Contents includes Electrical fittings/fixtures, Furniture, furnishing/decor, plant and machinery excluding cash/jewellery/paintings">
                            <img src="assets/images/question2.png" width="18" />
                          </a>
                        </div>
                      </div>

                      <!-- SI For Stock -->
                      <div class="col-lg-4 col-md-6 form-group">
                        <div class="input-field">
                          <input type="number" id='sistockID' placeholder="" class="form-control quest"
                            [(ngModel)]="SIforStocks" (input)='getTotalSI()' />
                          <label for='sistockID' style="color: #7795a3;">SI For Stock</label>
                          <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
                            title="Stocks includes, Raw material, work in process and finished goods including goods held in trust">
                            <img src="assets/images/question2.png" width="18" />
                          </a>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="cmnbox" [hidden]='!isBuglary'>
                  <div class="col-12">
                    <!-- Sum Insured Details for Burglary -->
                    <h4>Sum Insured Component Burglary Details:</h4>
                    <div class="row">
                      <!-- Burglary SI Contents -->
                      <div class="col-lg-4 col-md-6 form-group">
                        <div class="input-field">
                          <input type="number" id='siBurglaryContentID' class="form-control quest" placeholder=""
                            [(ngModel)]="SIforBurglaryContents" />
                          <label for='siBurglaryContentID' style="color: #7795a3;">SI For Contents</label>
                          <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
                            title="Contents include electrical fttings/fixures,fixures,furniture,furnishing/decor,plant and machinery excluding cash/jewellery/paintings">
                            <img src="assets/images/question2.png" width="18" />
                          </a>
                        </div>
                      </div>
                      <!-- Burglary SI Stock -->
                      <div class="col-lg-4 col-md-6 form-group">
                        <div class="input-field">
                          <input type="number" id='siBurglarystockID' class="form-control quest" placeholder=""
                            [(ngModel)]="SIforBurglaryStocks" />
                          <label for='siBurglarystockID' style="color: #7795a3;">SI For Stock</label>
                          <a href="javascript:void(0)" data-toggle="tooltip" data-placement="top"
                            title="Stocks includes, Raw material, work in process and finished goods including goods held in trust">
                            <img src="assets/images/question2.png" width="18" />
                          </a>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
                <!-- Quote Next Button -->
                <div class="col-12 mt-2 mb-2 text-center">
                  <button type="button" class="cstmbtn" (click)="clickToProceed()">Next</button>
                </div><br>

              </div>
            </div>
          </div>

          <!-- Proposal Details Card -->
          <form [formGroup]="easyProtectProposal">
            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" id="propDetaillink" data-toggle="collapse" href="#propDetails">Proposal
                  Details</a>
              </div>
              <div id="propDetails" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <div class="cmnbox brdrBtm">
                    <div class="col-12">
                      <div class="row">
                        <!-- INSURED NAME -->
                        <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                          <div class="input-field">
                            <input type="text" id="insuredName" class="form-control" formControlName='insuredName'
                              placeholder="" />
                            <label for='insuredName' style="color: #7795a3;">Insured Name <sup>*</sup></label>
                          </div>
                        </div>
                        <!-- Risk Location Address 1 -->
                        <div class="col-xl-3 col-lg-4 col-md-6 form-group input-field">
                          <div class="input-field">
                            <input id="addrs1" type="text" class="form-control" formControlName='proposalAddr1'
                              placeholder="" (input)='bindAddress1($event.target.value)' />
                            <label for='addrs1' style="color: #7795a3;">Risk Location Address Line 01
                              <sup>*</sup></label>
                          </div>
                        </div>
                        <!-- Risk Location Address 2 -->
                        <div class="col-xl-3 col-lg-4 col-md-6 form-group input-field">
                          <div class="input-field">
                            <input id="addrs2" type="text" class="form-control" formControlName='proposalAddr2'
                              placeholder="" (input)='bindAddress2($event.target.value)' />
                            <label for='addrs2' style="color: #7795a3;">Risk Location Address Line 02
                              <sup>*</sup></label>
                          </div>
                        </div>
                        <!-- Pincode -->

                        <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                          <label for='inspin' style="color: #7795a3;">Pin Code <sup>*</sup></label>
                          <input id="inspin" type="tel" class="form-control" placeholder="" readonly
                            formControlName='proposalPin' (keypress)="numberOnly($event)" />

                        </div>
                        <!-- State -->
                        <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                          <label for='propState' style="color: #7795a3;">State <sup>*</sup></label>
                          <input type="text" id="propState" name="propState" class="form-control" placeholder=""
                            formControlName="proposalState" readonly />
                        </div>
                        <!-- City/District -->
                        <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                          <div class="input-field">
                            <label style="color: #7795a3;" for='propCity'>City/District <sup>*</sup></label>
                            <select id="propCity" class="form-control srch"
                              style="border-bottom: solid 1px #7795a3;background-color:#fff"
                              name="propCity" formControlName="proposalCity" (change)="changeCityCodePer($event)">
                              <option class="optionBG" value='' selected disabled>Select City</option>
                              <option class="optionBG" [value]="citylist.CityName" *ngFor="let citylist of appCityList">
                                {{citylist.CityName}}
                              </option>
                            </select>
                          </div>
                        </div>
                        <!-- Same Customer Address -->
                        <div class="col-xl-4 col-lg-4 col-md-6 form-group">
                          <label style="color: #7795a3;">Customer Address is same as above?</label><sup
                            style="color: #7795a3;">*</sup>
                          <div class="radio1" style="border: none !important; box-shadow: none !important">
                            <div class="radio-item2">
                              <input type="radio" id="isSameAddYes" name="isSameAdd" [checked]='isCorraddSame==true'
                                (change)="corrFunction(true)">
                              <label for="isSameAddYes">Yes</label>
                            </div>
                            <div class="radio-item2">
                              <input type="radio" id="isSameAddNo" name="isSameAdd" [checked]='isCorraddSame==false'
                                (click)="corrFunction(false)" checked>
                              <label for="isSameAddNo">No</label>
                            </div>
                            <!-- <table>
                              <tr>
                                <td>
                                  <input type="radio" id="isSameAddYes" name="isSameAdd" [checked]='isCorraddSame==true'
                                    (click)="corrFunction(true)" />
                                  <label for="isSameAddYes">Yes</label>
                                </td>
                                <td>
                                  <input type="radio" id="isSameAddNo" name="isSameAdd" [checked]='isCorraddSame==false'
                                    (click)="corrFunction(false)" checked />
                                  <label for="isSameAddNo">No</label>
                                </td>
                              </tr>
                            </table> -->
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>

                  <div class="cmnbox brdrBtm">
                    <div class="col-12">
                      <div class="row">
                        <!-- Perm Address 1 -->
                        <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                          <div class="input-field">
                            <label for="corresAddone" class="auto_height" style="color: #7795a3;">Address 01
                              <sup>*</sup></label>
                            <input type="text" id="corresAddone" name="corresAddone" class="form-control" placeholder=""
                              formControlName="permAdd1" maxlength="40" [readonly]='isCorraddSame==true'>
                          </div>
                        </div>
                        <!-- Perm Address 2 -->
                        <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                          <div class="input-field">
                            <label for="correstwo" class="auto_height" style="color: #7795a3;">Address 02
                              <sup>*</sup></label>
                            <input type="text" id="correstwo" name="correstwo" class="form-control" placeholder=""
                              formControlName="permAdd2" maxlength="40" [readonly]='isCorraddSame==true'>
                          </div>
                        </div>
                        <!-- Perm Pincode -->
                        <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                          <div class="input-field">
                            <label for="corresPincode" class="auto_height">Pincode <sup
                                style="color: #7795a3;">*</sup></label>
                            <input type="text" id="corresPincode" name="corresPincode" class="form-control"
                              placeholder="" formControlName="permPinCode" maxlength="6"
                              (input)="getPincodeDetailsPer($event.target.value)" (keypress)="numberOnly($event)"
                              [readonly]='isCorraddSame==true' />
                          </div>
                        </div>
                        <!-- Perm State -->
                        <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                          <label for="corresState" class="auto_height">State <sup
                              style="color: #7795a3;">*</sup></label>
                          <input type="text" id="corresState" name="corresState" class="form-control" placeholder=""
                            formControlName="permState" readonly />
                        </div>
                        <!-- Perm City -->
                        <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                          <label for="corresCity" class="auto_height">City/District</label><sup
                            style="color: #7795a3;">*</sup>
                          <input type="text" id="corresCity" name="corresCity" class="form-control" placeholder=""
                            formControlName="permCity" readonly *ngIf='isCorraddSame' />
                          <select id="permCity" class="form-control srch"
                            style="border-bottom: solid 1px #7795a3;background-color:#fff" name="permCity"
                            formControlName="permCity" (change)="changeCityCodePer($event)" *ngIf='!isCorraddSame'>
                            <option class="optionBG" value='' selected disabled>Select City</option>
                            <option class="optionBG" [value]="citylist.CityName"
                              *ngFor="let citylist of appCityListPer">
                              {{citylist.CityName}}
                            </option>
                          </select>
                        </div>
                        <!-- Risk Start Date -->
                        <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                          <mat-form-field style="padding: 0px;">
                            <div class="input-field">
                              <input matInput class="form-control" id='riskDateID' [matDatepicker]="picker"
                                [min]="minRiskDate" [max]="maxRiskDate" readonly formControlName="riskStartDate"
                                (click)="picker.open()" (dateChange)='getRiskStartDate($event.target.value)'>
                              <mat-datepicker #picker></mat-datepicker>
                              <label for='riskDateID' style="color: #7795a3;">Risk Start Date<sup>*</sup></label>
                            </div>
                          </mat-form-field>


                        </div>
                        <!-- Risk End Date -->
                        <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                          <div class="input-field">
                            <!-- <input type="text" class="form-control dob" placeholder="DD/MM/YYYY" /> -->
                            <input type="text" id="riskEndDate" name="riskEndDate" class="form-control" placeholder=""
                              formControlName="riskEndDate" readonly />
                            <label for='riskEndDate' style="color: #7795a3;">Risk End Date <sup>*</sup></label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="cmnbox brdrBtm">
                    <div class="col-12">
                      <div class="row">
                        <div class="col-12"></div>
                        <!-- Risk Description for Fire -->
                        <div class="col-md-6 form-group">
                          <div class="input-field">
                            <input type="text" id="fireriskdesc" name="fireriskdesc" class="form-control" placeholder=""
                              formControlName="fireriskdesc" />
                            <label for='fireriskdesc' style="color: #7795a3;">Risk Description for Fire
                              <sup>*</sup></label>
                          </div>
                        </div>
                        <!-- Risk Description for Burglary -->
                        <div class="col-md-6 form-group" *ngIf='isBuglary'>
                          <div class="input-field">
                            <input type="text" id="briskdesc" name="briskdesc" class="form-control" placeholder=""
                              formControlName="buglaryriskdesc" />
                            <label for='briskdesc' style="color: #7795a3;">Risk Description for Burglary
                              <sup>*</sup></label>
                          </div>
                        </div>
                        <!-- Email ID -->
                        <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                          <div class="input-field">
                            <input type="email"
                              pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"
                              formControlName="applEmail" id="appEmail" name="appEmail" class="form-control"
                              placeholder="" />
                            <label for='appEmail' style="color: #7795a3;">Email ID <sup>*</sup></label>
                          </div>
                        </div>
                        <!-- Mobile Number -->
                        <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                          <div class="input-field">
                            <input type="text" id="applicMob" class="form-control" autocomplete="off" placeholder=""
                              maxlength="10" formControlName="applMobNo" (keypress)="numberOnly($event)"
                              (change)=validateMobileLength($event) />
                            <label for='applicMob' style="color: #7795a3;">Mobile Number <sup>*</sup></label>
                          </div>
                        </div>
                        <!-- PAN Number -->
                        <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                          <div class="input-field">
                            <input type="text" class="form-control" placeholder="" maxlength="10"
                              formControlName="panNo" id='panNoID' />
                            <label for='panNoID' style="color: #7795a3;">PAN Number (Optional)</label>
                          </div>
                        </div>
                        <!-- Contact Person Name -->
                        <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                          <div class="input-field">
                            <input type="text" class="form-control" placeholder="" formControlName="contactName"
                              id='contactPersonID' />
                            <label for='contactPersonID' style="color: #7795a3;">Contact Person Name
                              <sup>*</sup></label>
                          </div>
                        </div>
                        <!-- GST Registered or not -->
                        <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                          <label style="color: #7795a3;">Are you registered with GST?</label>
                          <div class="radio1" style="border: none !important; box-shadow: none !important">
                            <!-- <table>
                              <tr>
                                <td>
                                  <input type="radio" #isGSTYES id="regGst1Yes" name="regGst1Yes"
                                    [checked]="isRegWithGST==true" (click)="isGSTReg(true)" />
                                  <label for="regGst1Yes">Yes</label>
                                </td>
                                <td>
                                  <input type="radio" #isGSTNO id="regGst1no" name="regGst1no"
                                    [checked]="isRegWithGST==false" (click)="isGSTReg(false)" checked />
                                  <label for="regGst1no">No</label>
                                </td>
                              </tr>
                            </table> -->
                            <div class="radio-item2">
                              <input type="radio" id="regGst1Yes" name="regGstYesNo" value="Yes"
                                [checked]="isRegWithGST==true" (change)="isGSTReg(true)">
                              <label for="regGst1Yes">Yes</label>
                            </div>
                            <div class="radio-item2">
                              <input type="radio" id="regGst1no" name="regGstYesNo" value="No"
                                [checked]="isRegWithGST==false" (change)="isGSTReg(false)" checked>
                              <label for="regGst1no">No</label>
                            </div>
                          </div>
                        </div>

                      </div>
                      <!-- GST DETAILS -->
                      <div class="row" *ngIf='isRegWithGST' style="margin-top:10px;">
                        <!-- CONSTITUTION OF BUSINESS -->
                        <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                          <div class="input-field">
                            <select id="constitution" class="form-control srch" formControlName="constitution"
                              (change)="getConstName($event)">
                              <option class="optionBG" value="" selected disabled>Select Business</option>
                              <option class="optionBG" value="1">Non Resident Entity</option>
                              <option class="optionBG" value="2">Foreign company registered in India</option>
                              <option class="optionBG" value="3">Foreign LLP</option>
                              <option class="optionBG" value="4">Government Department</option>
                              <option class="optionBG" value="5">Hindu Undivided Family</option>
                              <option class="optionBG" value="6">LLP Partnership</option>
                              <option class="optionBG" value="7">Local Authorities</option>
                              <option class="optionBG" value="8">Partnership</option>
                              <option class="optionBG" value="9">Private Limited Company</option>
                              <option class="optionBG" value="10">Proprietorship</option>
                              <option class="optionBG" value="11">Others</option>
                            </select>
                            <label for="constitution">Constitution of Business</label>
                          </div>
                        </div>

                        <!-- CUSTOMER TYPE -->
                        <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                          <div class="input-field">
                            <select id="customerType" class="form-control srch" formControlName="customerType"
                              (change)="getCustTypeName($event)">
                              <option class="optionBG" value="" selected disabled>Select Customer Type</option>
                              <option class="optionBG" value="21">General</option>
                              <option class="optionBG" value="22">EOU/STP/EHTP</option>
                              <option class="optionBG" value="23">Government</option>
                              <option class="optionBG" value="24">Overseas</option>
                              <option class="optionBG" value="25">Related parties</option>
                              <option class="optionBG" value="26">SEZ</option>
                              <option class="optionBG" value="27">Others</option>
                            </select>
                            <label for="customerType">Customer Type</label>
                          </div>
                        </div>
                        <!-- GST REGISTRATION STATUS -->
                        <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                          <div class="input-field">
                            <select id="gstRegStatus" class="form-control srch" formControlName="gstRegStatus"
                              (change)="getGSTName($event)">
                              <option class="optionBG" value="" selected disabled>Select Status</option>
                              <option class="optionBG" value="41">ARN Generated</option>
                              <option class="optionBG" value="42">Provision ID Obtained</option>
                              <option class="optionBG" value="43">To be commenced</option>
                              <option class="optionBG" value="44">Enrolled</option>
                              <option class="optionBG" value="45">Not applicable</option>
                            </select>
                            <label for="gstRegStatus">GST Registration Status</label>
                          </div>
                        </div>
                        <!-- GSTIN Applicable -->

                        <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                          <label>Is GSTIN or UIN applicable?</label>
                          <div class="radio1" style="border: none !important; box-shadow: none !important">
                            <div class="radio-item2">
                              <input type="radio" id="regGstIN" name="regGstUIN" [checked]="isUIN==true"
                                (change)="radio(true)">
                              <label for="regGstIN">GSTIN</label>
                            </div>
                            <div class="radio-item2">
                              <input type="radio" id="regUIN" name="regGstUIN" [checked]="isUIN==false"
                                (change)="radio(false)" checked>
                              <label for="regUIN">UIN</label>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row" *ngIf='isRegWithGST'>
                        <!-- GST -->
                        <div class="col-xl-3 col-lg-4 col-md-6 form-group input-field" *ngIf="isGSTN==false">
                          <div class="input-field">
                            <input type="text" formControlName="GSTIN" id="gstin" name="gstin" class="form-control"
                              placeholder="" />
                            <label for="gstin" style="color: #7795a3;">GSTIN</label>
                          </div>
                        </div>
                        <!-- UIN -->
                        <div class="col-xl-3 col-lg-4 col-md-6 form-group input-field" *ngIf="isGSTN==true">
                          <div class="input-field">
                            <input type="text" formControlName="UIN" id="uin" name="uin" class="form-control"
                              placeholder="" />
                            <label for="uin" style="color: #7795a3;">UIN</label>
                          </div>
                        </div>
                      </div>


                      <div class="col-12 mt-2 mb-2 text-center">
                        <button type="button" (click)="validateProposal()" class="cstmbtn">Next</button>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#addInfo" id='addLink'>Additional Info</a>
              </div>

              <div id="addInfo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <div class="cmnbox">
                    <div class="row">
                      <!-- Customer Type -->
                      <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                        <label style="color: #7795a3;">Customer Type</label>
                        <div class="radio1" style="border: none !important; box-shadow: none !important">
                          <div class="radio-item2">
                            <input type="radio" id="customer" value="Individual" name="CustomerType"
                              (change)='getCustomerType($event.target.value)' checked />
                            <label for="customer">Individual</label>
                          </div>
                          <div class="radio-item2">
                            <input type="radio" id="corporate" value="Corporate" name="CustomerType"
                              (change)='getCustomerType($event.target.value)' />
                            <label for="corporate">Corporate</label>
                          </div>
                        </div>
                      </div>
                      <!-- BANK HYPOTHETICATION -->
                      <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                        <label style="color: #7795a3;">Bank Hypothecation</label>
                        <div class="radio1" style="border: none !important; box-shadow: none !important">
                          <div class="radio-item2">
                            <input type="radio" id="bhypoyes" value="true" name="bhypo"
                              (change)='getBankHypothecation(true)' />
                            <label for="bhypoyes">Yes</label>
                          </div>
                          <div class="radio-item2">
                            <input type="radio" id="bhypono" value="false" name="bhypo"
                              (change)='getBankHypothecation(false)' checked />
                            <label for="bhypono">No</label>
                          </div>
                        </div>
                      </div>
                      <!-- BANK LIST -->
                      <div class="col-xl-4 col-lg-4 col-md-6 form-group" *ngIf='isbankHypothecation==true'>
                        <label for="longTremDwell" class="auto_height" style="color: #7795a3;">Bank Name</label>
                        <select (change)=getBankName($event.target.value) required id="longTremDwell"
                          class="form-control srch"
                          style="border-bottom: solid 1px #7795a3;background-color:#fff">
                          <option class="optionBG" value="" disabled selected>Select Bank</option>
                          <option class="optionBG" value={{b.BANKNAME}} *ngFor="let b of allOccupancyData.bankMaster">
                            {{b.BANKNAME}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-12 text-center">
                        <button type="submit" (click)="createProposal()" class="cstmbtn">Next</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



          </form>

        </div>
      </div>
    </div>
  </div>

  <!-- MODAL FOR FIRE PREMIUM -->
  <div class="modal fade" id="fireBrkupModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Fire Premium - Breakup</h4>
          <button type="button" class="close" data-dismiss="modal" style="    color: #fff;
          font-size: 16px;
          margin-top: -12px;">
            X
            <!-- <img src="assets/images/close.png" width="13" /> -->
          </button>
        </div>
        <div class="modal-body">
          <table class="table">
            <tr>
              <td>Basic Premium: </td>
              <td>
                <span>{{totalPremium}}</span>
              </td>
            </tr>
            <tr>
              <td>GST: </td>
              <td>
                <span>{{gst}}</span>
              </td>
            </tr>
            <tfoot>
              <tr>
                <td>Total Premium: </td>
                <td>
                  <span>{{finalPremimum | number:'1.0-0'}}</span>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="cstmbtn" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
  <!-- MODAL FOR BURGLARY PREMIUM -->
  <div class="modal fade" id="burgBrkupModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Burglary Premium - Breakup</h4>
          <button type="button" class="close" data-dismiss="modal" style="    color: #fff;
          font-size: 16px;
          margin-top: -12px;">
            X
            <!-- <img src="assets/images/close.png" width="13" /> -->
          </button>
          <!-- <button type="button" class="close" data-dismiss="modal">
            <img src="assets/images/close.png" width="13" />
          </button> -->
        </div>
        <div class="modal-body">
          <table class="table">
            <tr>
              <td>Basic Premium: </td>
              <td>
                <span>{{bulgaryFinalRate}}</span>
              </td>
            </tr>
            <tr>
              <td>GST: </td>
              <td>
                <span>{{gstBuglary}}</span>
              </td>
            </tr>
            <tfoot>
              <tr>
                <td>Total Premium: </td>
                <td>
                  <span>{{bulgarytotalRate | number:'1.0-0'}}</span>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="cstmbtn" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL FOR REVISED PREMIUM -->
  <div class="modal fade" id="revPremModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Revised Premium</h4>
          <!-- <button type="button" class="close" data-dismiss="modal">
            <img src="assets/images/close.png" width="13" />
          </button> -->
          <button type="button" class="close" data-dismiss="modal" style="    color: #fff;
          font-size: 16px;
          margin-top: -12px;">
            X
            <!-- <img src="assets/images/close.png" width="13" /> -->
          </button>
        </div>
        <div class="modal-body">
          <table class="table">
            <tr *ngIf='isoccupancyDefault'>
              <td>Minimum Premium: </td>
              <td>
                <span>{{finalMinPremium | number:'1.0-0'}}</span>
              </td>
            </tr>
            <tr>
              <td>Default Premium: </td>
              <td>
                <span>{{finalPremimum | number:'1.0-0'}}</span>
              </td>
            </tr>
            <tfoot>
              <tr>
                <td colspan="2">
                  <input type="text" class="form-control" value='' [(ngModel)]='revised_premium' />
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="modal-footer justify-content-center pt-1">
          <button type="button" class="cstmbtn" (click)='caluclateRevisedPremium()'>OK</button>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- <script>
     $('.input-field input').focus(function () {
      $(this).parents('.input-field').addClass('focused');
    });

    $('.input-field input').blur(function () {
      var inputValue = $(this).val();
      if (inputValue == "") {
        $(this).removeClass('filled');
        $(this).parents('.input-field').removeClass('focused');
      } else {
        $(this).addClass('filled');
      }
    })  
</script> -->

</html>