::-webkit-input-placeholder {
  color: #c1c1c1 !important;
}

::-moz-placeholder {
  color: #c1c1c1 !important;
}

:-ms-input-placeholder {
  color: #c1c1c1 !important;
}

:-moz-placeholder {
  color: #c1c1c1 !important;
}

body,
html {
  background: #f0fdfd;
}
/* input[type="range" i] {
  background-color:#003d59 !important;
} */

body {
  padding-top: 68px;
  font-family: Muli, sans-serif  !important;
  overflow-x: hidden;
}

/*Header Starts*/
header {
  background: #e77717;
  background: -webkit-gradient(linear, left top, left bottom, from(#e77717), to(#97281e));
  background: linear-gradient(to bottom, #e77717 0%, #97281e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e77717', endColorstr='#97281e',GradientType=0 );
}

header h1 {
  margin: 0;
  display: inline-block;
}

header h1 a {
  width: 200px;
  height: auto;
  padding: 10px 0;
  display: inline-block;
  background: url(../images/logo.svg) no-repeat center center/contain;
  text-indent: -9999px;
}

header .menu_btn {
  padding: 21px 0;
  display: inline-block;
  vertical-align: top;
}

/*Header Ends*/
.cstmbtn {
  min-width: 120px;
  padding: 10px 25px;
  border: 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  display: inline-block;
  background-color: #fe6625;
  color: #fff;
  outline: 0 !important;
  text-decoration: none;
  font-family: Muli;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
}

.title h2 {
  margin: 12px 0;
  color: #063b6d;
  font: 500 18px "Muli";
  text-transform: capitalize;
}

.brdrBtm {
  border-bottom: 1px solid #fdefe2;
}

.no_bg {
  background: none !important;
}

.mainsec .accorDiv .card {
  border: 0;
  margin-bottom: 18px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}

.mainsec .accorDiv .card .card-header {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.mainsec .accorDiv .card .card-header a {
  padding: 13px 35px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  display: block;
  background-color: #fdefe2;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  color: #ffffff;
  font: 500 16px "Muli";
}

.mainsec .accorDiv .card .card-header a.card-link {
  background: #003d59 url(../images/down-arrow.png) no-repeat 98% center/16px;
}

.mainsec .accorDiv .card .card-header a.card-link.collapsed {
  background: #003d59 url(../images/right-arrow.png) no-repeat 98% center/16px;
}

.mainsec .accorDiv .card .card-body {
  padding: 0;
}

.mainsec .accorDiv .card .card-body .cmnbox {
  padding: 15px;
}

.mainsec .accorDiv .card .card-body label {
  color: #747474;
  font: 500 14px "Muli";
}

.mainsec .accorDiv .card .card-body .tab_btns {
  padding: 0;
  margin: 0;
}

.mainsec .accorDiv .card .card-body .tab_btns li {
  margin: 0 15px 15px;
  display: inline-block;
  vertical-align: top;
}

.mainsec .accorDiv .card .card-body .tab_btns li button {
  /* box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.51); */
  background-color: #003d59;
  border-radius: 10px;
  border: none !important;
  outline: 0;
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  /* width: 90px;
  height: 90px; */
}

.mainsec .accorDiv .card .card-body .tab_btns li span {
  margin-top: 5px;
  display: block;
  color: #4b4b4b;
  font: 500 12px "Muli";
}

/* .mainsec .accorDiv .card .card-body .tab_btns li:hover button {
  background-color: #003d59 !important;
} */

.mainsec .accorDiv .card .card-body .form-group a {
  position: absolute;
  bottom: 7px;
  right: 25px;
}

.mainsec .accorDiv .card .card-body .form-control {
  height: 36px;
  border: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-color: #ffffff;
  /* box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16); */
  color: #262626;
  font: 400 14px "Muli";
  border-bottom: solid 1px #7795a3;
}
.form-control {
  border-radius: 0rem !important;
}
.form-control:focus {
  box-shadow: none !important;
}

.mainsec .accorDiv .card .card-body .form-control.srch {
  padding-right: 30px;
  background: #fff url(../images/search2.png) no-repeat 96% center;
}
.mainsec .accorDiv .card .card-body .form-control.srch2 {
  padding-right: 30px;
  background: #fff url(../images/search3.png) no-repeat 96% center;
}

.mainsec .accorDiv .card .card-body .form-control.dob {
  padding-right: 30px;
  background: #fff url(../images/calendar.png) no-repeat 96% center;
}

.mainsec .accorDiv .card .card-body .form-control.quest {
  padding-right: 35px;
}

.mainsec .accorDiv .card .card-body .form-control:focus {
  border-color: #003d59;
}

.mainsec .accorDiv .card .card-body .form-control:disabled {
  height: 20px;
  padding: 0;
  border: 0;
  box-shadow: 0 0 0 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  color: #000;
  font: 500 18px "Muli";
}

.mainsec .accorDiv .card .card-body .radio1 {
  height: 36px;
  border: solid 1px #d4d4d4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  overflow: hidden;
}
.mainsec .accorDiv .card .card-body .radio2 {
  height: 36px;
  border: solid 1px #d4d4d4;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  overflow: hidden;
}

.mainsec .accorDiv .card .card-body .radio1 table {
  width: 100%;
}
.mainsec .accorDiv .card .card-body .radio2 table {
  width: 100%;
}

.mainsec .accorDiv .card .card-body .radio2 table tr td {
  width: 50%;
  padding: 0;
  text-align: center;
  vertical-align: top;
}
.mainsec .accorDiv .card .card-body .radio1 table tr td {
  width: 50%;
  padding: 0;
  text-align: center;
  vertical-align: top;
}

.mainsec .accorDiv .card .card-body .radio1 table tr td input {
  display: none;
}
.mainsec .accorDiv .card .card-body .radio2 table tr td input {
  display: none;
}
#splownedyes:checked + label {
  background-color: #fff;
  color: #003d59 !important;
}

.mainsec .accorDiv .card .card-body .radio1 table tr td input:checked + label {
  background-color: #003d59;
  color: #fff !important;
}
.mainsec .accorDiv .card .card-body .radio2 table tr td input:checked + label {
  background-color: #fff;
  color: #003d59 !important;
}

.mainsec .accorDiv .card .card-body .radio1 table tr td label {
  padding: 9px 0;
  margin: 0;
  display: block;
  color: #343434;
  cursor: pointer;
}
.mainsec .accorDiv .card .card-body .radio2 table tr td label {
  padding: 9px 0;
  margin: 0;
  display: block;
  color: #343434;
  cursor: pointer;
}

.mainsec .accorDiv .card .card-body h4 {
  margin: 0 0 10px;
  color: #063f70;
  font: 500 14px "Muli";
}

.rangediv {
  text-align: center;
}

.rangediv strong {
  color: #4b4b4b;
  font: 500 28px "Muli";
}

.rangediv span {
  color: #4b4b4b;
  font: normal 15px "Muli";
  /* text-transform: uppercase; */
  vertical-align: top;
}

.rangediv input[type="range"] {
  background-color: transparent !important;
}

.rangediv input[type="range"]::-moz-range-thumb {
  background: #931f1f;
}

.rangediv input[type="range"]::-moz-range-track {
  height: 7px !important;
  background-color: rgba(75, 75, 75, 0.55);
}

.rangediv input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 4px 0px #931f1f;
  -webkit-box-shadow: 0 0 4px 0px #931f1f;
  -moz-box-shadow: 0 0 4px 0px #931f1f;
}

.rangediv input[type="range"]::-ms-thumb {
  background: #931f1f;
}

.rangediv input[type="range"]::-ms-track {
  height: 7px !important;
  background-color: rgba(75, 75, 75, 0.55);
}

.rangediv input[type="range"]:focus::-ms-thumb {
  box-shadow: 0 0 4px 0px #931f1f;
  -webkit-box-shadow: 0 0 4px 0px #931f1f;
  -moz-box-shadow: 0 0 4px 0px #931f1f;
}

.rangediv input[type="range"]::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border: solid 2px #ffffff;
  background: #01b3bb;
  margin-top: -6px;
}

.rangediv input[type="range"]::-webkit-slider-runnable-track {
  height: 7px !important;
  background-color: #003d59;
  border-radius: 15px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.rangediv input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 4px 0px #003d59;
  -webkit-box-shadow: 0 0 4px 0px #003d59;
  -moz-box-shadow: 0 0 4px 0px #003d59;
}

.premiumUl {
  width: 100%;
  padding: 0;
  margin: 10px 0;
  display: table;
  text-align: center;
}

.premiumUl li {
  width: 50%;
  padding: 5px;
  display: table-cell;
  vertical-align: top;
}

.premiumUl li div {
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #ededed;
}

.premiumUl li div span {
  margin-bottom: 10px;
  display: block;
  color: #003d59;
  font: 500 16px "Muli";
}

.premiumUl li div strong {
  padding-left: 15px;
  /* background: url(../images/rupee.png) no-repeat left center/11px; */
  color: #003d59;
  font: 500 23px "Muli";
}

.paymentmode ul {
  padding-left: 0;
  margin: 0;
  text-align: center;
}

.paymentmode ul li {
  margin: 15px;
  display: inline-block;
  vertical-align: top;
}

.paymentmode ul li a {
  display: inline-block;
  text-decoration: none;
}

.paymentmode ul li a div {
  width: 78px;
  height: 78px;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  position: relative;
  background-color: #ffffff;
}

.paymentmode ul li a div img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.paymentmode ul li a span {
  margin-top: 5px;
  display: inline-block;
  color: #343434;
  font: 500 11px "Muli";
}

.confrmDiv {
  margin-bottom: 15px;
}

.confrmDiv .innerdiv {
  min-height: 76px;
  height: 100%;
  padding: 15px 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  background-color: #fff;
}

.confrmDiv .innerdiv label {
  margin-bottom: 5px;
  display: block;
  color: #939393;
  font: 500 14px "Muli";
}

.confrmDiv .innerdiv span {
  color: #262626;
  font: 500 18px "Muli";
}

.confrmDiv .innerdiv .lnks {
  text-align: right;
}

.confrmDiv .innerdiv .lnks a {
  width: 41px;
  height: 41px;
  padding: 6px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: inline-block;
  /* background-color: #f27b1a; */
  text-align: center;
  vertical-align: text-top;
}

.confrmDiv .innerdiv strong {
  padding-left: 15px;
  margin-top: 11px;
  display: inline-block;
  background: url(../images/big_rupee.png) no-repeat left center/12px;
  color: #454545;
  font: 500 23px "Muli";
  vertical-align: top;
}

.modal .modal-content {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  overflow: hidden;
}

.modal .modal-content .modal-header {
  padding: 14px 25px;
  border: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  position: relative;
  background-color: #003d59;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
}

.modal .modal-content .modal-header h4 {
  margin: 0;
  color: #fff;
  font: 500 16px "Muli";
}

.modal .modal-content .modal-header button {
  padding: 0;
  position: absolute;
  top: 28px;
  right: 33px;
  opacity: 1;
  outline: 0 !important;
}

.modal .modal-content .modal-body {
  padding: 0;
}

.modal .modal-content .modal-body table {
  margin: 0;
}

.modal .modal-content .modal-body table tr {
  border-bottom: 1px solid #fdefe2;
}

.modal .modal-content .modal-body table tr td {
  padding: 12px 25px;
  border: 0;
  color: #4b4b4b;
  font: 500 14px "Muli";
  vertical-align: middle;
}

.modal .modal-content .modal-body table tr td span {
  padding-left: 15px;
  background: url(../images/big_rupee.png) no-repeat left center/10px;
  color: #4b4b4b;
  font: 500 18px "Muli";
}

.modal .modal-content .modal-body table tfoot tr {
  border: 0;
}

.modal .modal-content .modal-body table tfoot tr td input {
  height: 36px;
  border: 0px;
  border-bottom: 1px solid;
  /* border: solid 1px #d4d4d4;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16); */
  color: #262626;
  font: 400 14px "Muli";
}

.modal .modal-content .modal-body table tfoot tr td input:focus {
  border-color: #da6a18;
}

.modal .modal-content .modal-footer {
  border: 0;
}

select::-ms-expand {
  display: none;
}
select {
  -webkit-appearance: none;
  appearance: none;
}
.mat-datepicker-toggle {
  background: url("../../assets/images/calendar2.png") no-repeat !important;
}
.card-body {
  /* border-radius: 15px; */
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  /* background-color: #ffffff; */
}

/* .segments-selected {
  background-color: rgb(11, 119, 222) !important;
  border-radius: 10px;
} */

/* .mat-radio-label-content
{
  color: #fff !important;
} */

.mat-radio-outer-circle {
  border-color: #01b3bb !important;
}
.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #01b3bb !important;
}
.mat-form-field {
  display: block !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  background: none !important;
}
.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 0px !important;
  padding: 0.75em 0 0 0 !important;
  /* */
}
.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float
  .mat-form-field-label:not(.mat-empty):not(.mat-form-field-empty) {
  font-size: 14px !important;
}
.focused .form-label {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 12px;
}
.focused .form-label {
  font-size: 14px;
}
.form-input.filled {
  border-bottom: 2px solid #013366;
}

/* .mat-button-wrapper
{
  display: none !important;
} */
button:focus {
  outline: none !important;
}
.radio-item {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radio-item input[type='radio'] {
  display: none;
}

.radio-item label {
  color: #fff;
  font-weight: normal;
}
.radio-item label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #fff;
  background-color: transparent;
}
.radio-item input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
  left: 11px;
  content: " ";
  display: block;
  background: #fff;
}
.radio-item2 {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}
.radio-item2 input[type='radio'] {
  display: none;
}

.radio-item2 label {
  color: #747474;
  font-weight: normal;
}
.radio-item2 label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #747474;
  background-color: transparent;
}

.radio-item2 input[type=radio]:checked + label:after {
  border-radius: 11px;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 10px;
  left: 11px;
  content: " ";
  display: block;
  background: #747474;
}

select::-ms-expand {
  display: none !important;
}
input::-webkit-calendar-picker-indicator {
  display: none !important;
}
/* .input-field {
  position: relative;
  line-height: 44px;
}
label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
}
input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: #111;
}
input:invalid {
  outline: 0;
}
input:focus,
input:valid {
  border-color: #00dd22;
}
input:focus~label,
input:valid~label {
  font-size: 14px;
  top: -24px;
  color: #00dd22;
} */
@media (max-width: 767px) {
  .rangediv strong {
    font-size: 20px;
  }
  .rangediv span {
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  body {
    padding-top: 58px;
  }
  header h1 a {
    width: 150px;
    padding: 5px 0;
    background: url(../images/logo.svg) no-repeat center center/contain;
  }
  header .menu_btn {
    padding: 16px 0;
  }
  .cstmbtn {
    min-width: 115px;
    padding: 10px 20px;
    font-size: 12px;
  }
  .title h2 {
    text-align: center;
  }
  .mainsec .accorDiv .card .card-header a.card-link {
    background-position: 95% center;
  }
  .mainsec .accorDiv .card .card-header a.card-link.collapsed {
    background-position: 95% center;
  }
  .rangediv strong {
    font-size: 15px;
  }
  .rangediv span {
    font-size: 10px;
  }
  .premiumUl li {
    width: 100%;
    display: block;
  }
  .paymentmode ul li {
    margin: 10px;
  }
  .paymentmode ul li a div {
    width: 80px;
    height: 80px;
  }
  .paymentmode ul li a div img {
    width: 46%;
  }
  .confrmDiv .innerdiv .lnks {
    margin-top: 5px;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */
