$primary_font: 'Roboto', sans-serif;

@mixin box-shadow($left, $top, $radius, $color) {
	box-shadow: $left $top $radius $color;
	-webkit-box-shadow: $left $top $radius $color;
	-moz-box-shadow: $left $top $radius $color;
}

@mixin transition($property, $duration, $easing: linear) {
	transition: $property $duration $easing;
	-webkit-transition: $property $duration $easing;
	-moz-transition: $property $duration $easing;
}

@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content; 
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  } 
}

::-webkit-input-placeholder {
  color: #c1c1c1 !important;
}
::-moz-placeholder {
  color: #c1c1c1 !important;
}
:-ms-input-placeholder {
  color: #c1c1c1 !important;
}
:-moz-placeholder {
  color: #c1c1c1 !important;
}

body, html {
  background: #f0f0f0;
}

body {
  padding-top: 68px;
  font-family: $primary_font !important;
  overflow-x: hidden;
}

/*Header Starts*/

header {
  background: #e77717;
  background: -moz-linear-gradient(top,  #e77717 0%, #97281e 100%);
  background: -webkit-linear-gradient(top,  #e77717 0%,#97281e 100%);
  background: linear-gradient(to bottom,  #e77717 0%,#97281e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e77717', endColorstr='#97281e',GradientType=0 );

  h1 {
    margin: 0;
    display: inline-block;

    a {
      width: 200px;
      height: auto;
      padding: 10px 0;
      display: inline-block;
      background: url(../images/logo-white.png) no-repeat center center/contain;
      text-indent: -9999px;
    }
  }

  .menu_btn {
    padding: 21px 0;
    display: inline-block;
    vertical-align: top;
  }
}

/*Header Ends*/

.cstmbtn {
  min-width: 120px;
  padding: 10px 25px;
  border: 0;
  @include border-radius(25px);
  display: inline-block;
  background-color: #f27b1a;
  @include box-shadow(0, 3px, 6px, 0 rgba(60, 0, 0, 0.69));
  color: #fff;
  font: bold 14px $primary_font;
  outline: 0 !important;
  text-decoration: none;
}

.title {
  h2 {
    margin: 12px 0;
    color: #063b6d;
    font: 500 18px $primary_font;
    text-transform: capitalize;
  }
}

.brdrBtm {
  border-bottom: 1px solid #fdefe2;
}

.no_bg {
  background: none !important;
}

.mainsec {
  .accorDiv {
    .card {
      border: 0;
      margin-bottom: 18px;
      @include border-radius(10px);

      .card-header {
        padding: 0;
        border: 0;
        background-color: transparent;

        a {
          padding: 13px 35px;
          @include border-radius(10px);     
          display: block;
          background-color: #fdefe2;
          @include box-shadow(0, 2px, 2px, 0 rgba(0, 0, 0, 0.16));
          color: #063b6d;
          font: 500 16px $primary_font;

          &.card-link {
            background: #fdefe2 url(../images/down-arrow.png) no-repeat 98% center/16px;

            &.collapsed {
              background: #fdefe2 url(../images/right-arrow.png) no-repeat 98% center/16px;
            }
          }
        }
      }

      .card-body {
        padding: 0;       

        .cmnbox {
          padding: 15px;
        }

        label {
          color: #939393;
          font: 500 14px $primary_font;
        }

        .tab_btns {
          padding: 0;
          margin: 0;

          li {
            margin: 0 15px 15px;
            display: inline-block;
            vertical-align: top;

            button {
              width: 90px;
              height: 90px;
              border: solid 1px #d0d0d0;
              @include border-radius(10px);
              background-color: #063b6d;
              @include box-shadow(0, 3px, 6px, 0 rgba(0, 0, 0, 0.51));
              outline: 0;
              @include transition(all, 0.2s, ease-in);
            }

            span {
              margin-top: 5px;
              display: block;
              color: #4b4b4b;
              font: 500 12px $primary_font;
            }

            &:hover {
              button {
                background-color: #0b4e8c;
              }
            }
          }
        }

        .form-group a {
          position: absolute;
          bottom: 7px;
          right: 25px;
        }

        .form-control {
          height: 36px;
          border: solid 1px #d4d4d4;
          @include border-radius(5px);
          background-color: #ffffff;
          @include box-shadow(0, 2px, 3px, 0 rgba(0, 0, 0, 0.16));
          color: #262626;
          font: 400 14px $primary_font;

          &.srch {
            padding-right: 30px;
            background: #fff url(../images/search.png) no-repeat 96% center;
          }

          &.dob {
            padding-right: 30px;
            background: #fff url(../images/calendar.png) no-repeat 96% center;
          }

          &.quest {
            padding-right: 35px;
          }

          &:focus {
            border-color: #DA6A18;
          }

          &:disabled {
            height: 20px;
            padding: 0;
            border: 0;
            @include box-shadow(0, 0, 0, 0);
            color: #000;
            font: 500 18px $primary_font;
          }
        }

        .radio1 {
          height: 36px;
          border: solid 1px #d4d4d4;
          @include border-radius(10px);
          @include box-shadow(0, 2px, 3px, 0 rgba(0, 0, 0, 0.16));
          overflow: hidden;

          table {
            width: 100%;

            tr {
              td {
                width: 50%;
                padding: 0;
                text-align: center;
                vertical-align: top;

                input {
                  display: none;
                  
                  &:checked + label {
                    background-color: #f27b1a;
                    color: #fff;
                  }
                }

                label {
                  padding: 9px 0;
                  margin: 0;
                  display: block;                
                  color: #343434;
                  cursor: pointer;
                }
              }
            }
          }          
        }

        h4 {
          margin: 0 0 10px;
          color: #063f70;
          font: 500 14px $primary_font;
        }
      }
    }
  }
}

.rangediv {
  text-align: center;

  strong {
    color: #4b4b4b;
    font: 500 28px $primary_font;
  }

  span {
    color: #4b4b4b;
    font: normal 15px $primary_font;
    text-transform: uppercase;
    vertical-align: top;
  }

  input[type=range] {
    background-color: transparent !important;
  }

  input[type=range]::-moz-range-thumb {            
    background: #931f1f;
  }

  input[type=range]::-moz-range-track {
    height: 7px !important;
    background-color: rgba(75, 75, 75, 0.55);
  }

  input[type=range]:focus::-moz-range-thumb {
    @include box-shadow(0, 0, 4px, 0px #931f1f);
  }

  input[type=range]::-ms-thumb {            
    background: #931f1f;
  }

  input[type=range]::-ms-track {
    height: 7px !important;
    background-color: rgba(75, 75, 75, 0.55);
  }

  input[type=range]:focus::-ms-thumb {
    @include box-shadow(0, 0, 4px, 0px #931f1f);
  }

  input[type=range]::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border: solid 2px #ffffff;     
    background: #931f1f;
    margin-top: -6px;
  }

  input[type=range]::-webkit-slider-runnable-track {
    height: 7px !important;
    background-color: rgba(75, 75, 75, 0.55);
  }

  input[type=range]:focus::-webkit-slider-thumb {
    @include box-shadow(0, 0, 4px, 0px #931f1f);
  }
}

.premiumUl {
  width: 100%;
  padding: 0;
  margin: 10px 0;
  display: table;
  text-align: center;

  li {
    width: 50%;
    padding: 5px;
    display: table-cell;
    vertical-align: top;

    div {      
      padding: 10px;
      @include border-radius(10px);      
      background-color: #063b6d;      

      span {
        margin-bottom: 10px;
        display: block;
        color: #fff;
        font: 500 16px $primary_font;
      }
      
      strong {
        padding-left: 15px;
        background: url(../images/rupee.png) no-repeat left center/11px;
        color: #fff;
        font: 500 23px $primary_font;
      }
    }    
  }
}

.paymentmode {
  ul {
    padding-left: 0;
    margin: 0;
    text-align: center;

    li {
      margin: 15px;
      display: inline-block;
      vertical-align: top;

      a {
        display: inline-block;
        text-decoration: none;

        div {
          width: 78px;
          height: 78px;
          margin: 0 auto;
          @include border-radius(50%);
          position: relative;
          background-color: #FDF2E7;

          img {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }

        span {
          margin-top: 5px;
          display: inline-block;
          color: #343434;
          font: 500 11px $primary_font;
        }
      }
    }
  }
}

.confrmDiv {
  margin-bottom: 15px;

  .innerdiv {
    min-height: 76px;
    height: 100%;
    padding: 15px 20px;
    @include border-radius(10px);
    background-color: #fff;

    label {
      margin-bottom: 5px;
      display: block;
      color: #939393;
      font: 500 14px $primary_font;
    }

    span {
      color: #262626;
      font: 500 18px $primary_font;
    }

    .lnks {
      text-align: right;

      a {
        width: 41px;
        height: 41px;
        padding: 6px;
        @include border-radius(50%);
        display: inline-block;
        background-color: #f27b1a;
        text-align: center;
        vertical-align: text-top;
      }
    }

    strong {
      padding-left: 15px;
      margin-top: 11px;
      display: inline-block;
      background: url(../images/big_rupee.png) no-repeat left center/12px;
      color: #454545;
      font: 500 23px $primary_font;
      vertical-align: top;
    }
  }
}

.modal {
  .modal-content {
    @include border-radius(10px);
    overflow: hidden;

    .modal-header {
      padding: 14px 25px;
      border: 0;
      @include border-radius(10px);
      position: relative;
      background-color: #fdefe2;
      @include box-shadow(0, 2px, 2px, 0 rgba(0, 0, 0, 0.16));

      h4 {
        margin: 0;
        color: #063b6d;
        font: 500 16px $primary_font;
      }

      button {
        padding: 0;
        position: absolute;
        top: 28px;
        right: 33px;
        opacity: 1;
        outline: 0 !important;
      }
    }

    .modal-body {
      padding: 0;

      table {
        margin: 0;

        tr {
          border-bottom: 1px solid #fdefe2;

          td {
            padding: 12px 25px;
            border: 0;
            color: #4b4b4b;
            font: 500 14px $primary_font;
            vertical-align: middle;

            span {
              padding-left: 15px;
              background: url(../images/big_rupee.png) no-repeat left center/10px;
              color: #4b4b4b;
              font: 500 18px $primary_font;
            }
          }
        }

        tfoot {
          tr {
            border: 0;

            td {
              input {
                height: 36px;
                border: solid 1px #d4d4d4;
                @include border-radius(5px);
                background-color: #ffffff;
                @include box-shadow(0, 2px, 3px, 0 rgba(0, 0, 0, 0.16));
                color: #262626;
                font: 400 14px $primary_font;

                &:focus {
                  border-color: #DA6A18;
                }
              }
            }
          }
        }
      }
    }

    .modal-footer {
      border: 0;
    }
  }
}

@media (max-width:767px) {
  .rangediv {
    strong {
      font-size: 20px;
    }

    span {
      font-size: 12px;
    }
  }
}

@media (max-width:575px) {
  body {
    padding-top: 58px;
  }

  header {
    h1 {
      a {
        width: 150px;
        padding: 5px 0;
        background: url(../images/logo-white.png) no-repeat center center/contain;
      }
    }

    .menu_btn {
      padding: 16px 0;
    }
  }

  .cstmbtn {
    min-width: 115px;
    padding: 10px 20px;
    font-size: 12px;
  }

  .title h2 {
    text-align: center;
  }

  .mainsec {
    .accorDiv {
      .card {  
        .card-header {  
          a {
            &.card-link {
              background-position: 95% center;
  
              &.collapsed {
                background-position: 95% center;
              }
            }
          }
        }
      }
    }
  }

  .rangediv {
    strong  {
      font-size: 15px;
    }
    
    span {
      font-size: 10px;
    }
  }

  .premiumUl li {
    width: 100%;
    display: block;
  }

  .paymentmode ul li {
    margin: 10px;

    a {
      div {
        width: 80px;
        height: 80px;
  
        img {
          width: 46%;
        }
      }
    }
  }

  .confrmDiv .innerdiv {
    .lnks {
      margin-top: 5px;
      text-align: center;     
    }
  }
}
