<div class="container-fluid maindiv">
    <!-- <div class="loaderdiv" *ngIf="cs.showSwapLoader">
      <img src="assets/images/loader.gif" alt="Loader" class="img-fluid" />
    </div> -->

    <div class="loader1" *ngIf="cs.showSwapLoader">
        <img style="padding:250px 50px" src="./assets/images/loader1.gif" />
    </div>

  </div>

