<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>SME - Easy Protect</h2>
  <form [formGroup]="loginForm">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" formControlName="userName" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" formControlName="passWord" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    
    <button type="submit" (click)="login(loginForm)" class="btn btn-primary">Submit</button>
  </form>
</div>

</body>
</html>
