<header class="container-fluid fixed-top">
  <div class="row">
    <div class="container">
      <div class="row">
        <div class="col-8">
          <h1>
            <a href="#" title="ICICI Lombard" class="logo">ICICI Lombard</a>
          </h1>
        </div>
        <div class="col-4 text-right">
          <a href="javascript:void(0)" class="menu_btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="25" fill="#fff">
              <path
                d="M492 236H20c-11.046 0-20 8.954-20 20s8.954 20 20 20h472c11.046 0 20-8.954 20-20s-8.954-20-20-20zM492 76H20C8.954 76 0 84.954 0 96s8.954 20 20 20h472c11.046 0 20-8.954 20-20s-8.954-20-20-20zM492 396H20c-11.046 0-20 8.954-20 20s8.954 20 20 20h472c11.046 0 20-8.954 20-20s-8.954-20-20-20z" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container title" *ngIf='showConfirmationDetails'>
  <h2></h2>
</div>
<section class="container-fluid mainsec" *ngIf='showConfirmationDetails'>
  <div class="row">
    <div class="container">
      <div class="card">
        <div class="card-header" style="padding:0%">
          <ul class="premiumUl mt-0" style="margin-bottom: 0px;">
            <li class="p-0">
              <div style="background-color: #003d59">
                <strong class="no_bg pl-0" style="color: #fff;">Congratulations!</strong>
                <span class="mb-1 mt-1" style="color: #fff;">Your Easy Protect Policy is Ready</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="card-body" style="background-color: #fff;">
          <div class="col-lg-12 confrmDiv">
            <div class="col-12 innerdiv">
              <div class="row">
                <div class="col-sm-8">
                  <label *ngIf='payment_confirmation.PaymentStatus=="Successful Payment"'>Fire Policy Number</label>
                  <span
                    *ngIf='payment_confirmation.PaymentStatus=="Successful Payment"'>{{paymentConfRes.PolicyNumber}}</span>
                  <label *ngIf='payment_confirmation.PaymentStatus!="Successful Payment"'>Fire Proposal Number</label>
                  <span
                    *ngIf='payment_confirmation.PaymentStatus!="Successful Payment"'>{{paymentConfRes.ProposalNumber}}</span>
                </div>
                <div class="col-sm-4 lnks">
                  <a title="Upload" class="mr-2" style="cursor: pointer;">
                    <img src="./assets/images/upload2.png" alt="Upload" data-toggle="modal"
                      data-target="#fireBrkupModal" />
                  </a>
                  <a title="Download" (click)='downloadPdf(paymentConfRes)' style="cursor: pointer;">
                    <img src="./assets/images/download2.png" alt="Download" />
                  </a>
                </div>
              </div>
              <br>
              <div class="row" *ngIf='proposal_request_data.optingBurglary'>
                <div class="col-sm-8">
                  <label *ngIf='payment_confirmation.PaymentStatus=="Successful Payment"'>Burglary Policy
                    Number</label>
                  <span
                    *ngIf='payment_confirmation.PaymentStatus=="Successful Payment"'>{{burglaryConfRes.PolicyNumber}}</span>
                  <label *ngIf='payment_confirmation.PaymentStatus!="Successful Payment"'>Burglary Proposal
                    Number</label>
                  <span
                    *ngIf='payment_confirmation.PaymentStatus!="Successful Payment"'>{{burglaryConfRes.ProposalNumber}}</span>
                </div>
                <div class="col-sm-4 lnks">
                  <a title="Upload" class="mr-2" style="cursor: pointer;">
                    <img src="./assets/images/upload2.png" alt="Upload" data-toggle="modal"
                      data-target="#burgBrkupModal" />
                  </a>
                  <a title="Download" (click)='downloadPdf(burglaryConfRes)' style="cursor: pointer;">
                    <img src="./assets/images/download2.png" alt="Download" />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="row confrmDiv" style="padding: 0 15px;">
            <div class="col-lg-6 innerdiv" style="background:#ededed;">
              <div class="col-12">
                <div class="row">
                  <div class="col-6">
                    <label class="mt-3">Total Premium</label>
                  </div>
                  <div class="col-6 text-right">
                    <strong>{{payment_confirmation.PaymentAmount}}</strong>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 innerdiv">
              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    <label>Policy Start Date</label>
                    <span>{{paymentConfRes.PolicyStartDate}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 innerdiv">
              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    <label>Policy End Date</label>
                    <span>{{paymentConfRes.PolicyEndDate}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="fireBrkupModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Upload Documents</h4>
        <button type="button" class="close" data-dismiss="modal">
          <img src="assets/images/close.png" width="13" />
        </button>
      </div>
      <div class="modal-body">
        <div style="padding-top: 70px; padding-left: 10px;">
          <!-- <div class="row" style="margin-top: 28%;" id="PictureButtons">
            <div ng-repeat="img in iarr track by $index" style="display:inline-block; margin-right: 20px;">
              <div class="wrapper">
                <img style='width:100px;height:100px;' id='base64image' src="data:image/png;base64, {{img.url}}"
                  ng-click="zoomPicture(this)" />
                <span class="close" ng-click="deleteDocument($index)"></span>
              </div>
            </div>
          </div> -->
          <input #uploadFile1 type="file" (change)="fileSelection($event,0,true)" accept="image/*">
          <!-- <a (click)="uploadFile1.click()" class="float-right"><i class="material-icons"
              style="color: #4b4b4b;"> camera_alt</i></a>
          <a (click)="previewImage(0)" class="float-right"><i class="material-icons" id="icon1"
              style="color: #4b4b4b">photo_library</i></a> -->
          <!-- <button class="btn btn-red margin" style="width:45%;text-transform: none;" (click)="takePhoto()">
            <img src="assets/images/question.png"
              style="border: 0;width: 16%;margin-top: 10px;margin-left: -37px;vertical-align: -3px;" /> Take Photo
          </button>
          <button class="btn btn-red margin" style="width:46%;margin-left: 18px;text-transform: none;"
            (click)="choosePhoto()">
            <img src="assets/images/question.png"
              style="border: 0;width: 16%;margin-top: 10px;margin-left: -37px;vertical-align: -3px;" /> Choose Photo
          </button> -->
        </div>


      </div>
      <div class="modal-footer justify-content-center">
        <button class="cstmbtn" data-dismiss="modal"
          style="margin-left: auto;margin-right: auto;margin-top: 20px;display: block;text-transform: none;"
          (click)="uploadDocuments('fire')">
          Upload
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="burgBrkupModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Upload Documents</h4>
        <button type="button" class="close" data-dismiss="modal">
          <img src="assets/images/close.png" width="13" />
        </button>
      </div>
      <div class="modal-body">
        <div style="padding-top: 70px; padding-left: 10px;">
          <!-- <div class="row" style="margin-top: 28%;" id="PictureButtons">
            <div ng-repeat="img in iarr track by $index" style="display:inline-block; margin-right: 20px;">
              <div class="wrapper">
                <img style='width:100px;height:100px;' id='base64image' src="data:image/png;base64, {{img.url}}"
                  ng-click="zoomPicture(this)" />
                <span class="close" ng-click="deleteDocument($index)"></span>
              </div>
            </div>
          </div> -->
          <input #uploadFile1 type="file" (change)="fileSelection($event,0,true)" accept="image/*">
          <!-- <a (click)="uploadFile1.click()" class="float-right"><i class="material-icons"
              style="color: #4b4b4b;"> camera_alt</i></a>
          <a (click)="previewImage(0)" class="float-right"><i class="material-icons" id="icon1"
              style="color: #4b4b4b">photo_library</i></a> -->
          <!-- <button class="btn btn-red margin" style="width:45%;text-transform: none;" (click)="takePhoto()">
            <img src="assets/images/question.png"
              style="border: 0;width: 16%;margin-top: 10px;margin-left: -37px;vertical-align: -3px;" /> Take Photo
          </button>
          <button class="btn btn-red margin" style="width:46%;margin-left: 18px;text-transform: none;"
            (click)="choosePhoto()">
            <img src="assets/images/question.png"
              style="border: 0;width: 16%;margin-top: 10px;margin-left: -37px;vertical-align: -3px;" /> Choose Photo
          </button> -->
        </div>


      </div>
      <div class="modal-footer justify-content-center">
        <button class="cstmbtn" data-dismiss="modal"
          style="margin-left: auto;margin-right: auto;margin-top: 20px;display: block;text-transform: none;"
          (click)="uploadDocuments('burglary')">
          Upload
        </button>
      </div>
    </div>
  </div>
</div>