<div class="container-fluid maindiv">
    <div class="loaderdiv">
        <!-- <img src="assets/images/loader.gif" alt="Loader" class="img-fluid" /> -->
    </div>
    <div class="col-12 form-group" style="text-align: center">
        <h3>We're processing your payment</h3>
        <small>This process may take few seconds, so please be patient.</small>
        <small>Do not press back or close the window.</small>
    </div>
</div>