<!DOCTYPE html>
<html>

<!-- Main -->
<div class="container title"><h2></h2></div>
<section class="container-fluid mainsec">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-12 accorDiv" id="accordion">
                    <!-- Premium Calculation -->
                    <div class="card">
                        <div class="card-header">
                            <a class="card-link" data-toggle="collapse" href="#premCalc">Premium Calculation</a>
                        </div>
                        <div id="premCalc" class="collapse show" data-parent="#accordion">
                            <div class="card-body">
                                <!-- For Fire -->
                                <div class="cmnbox pb-0">
                                    <div class="col-12">
                                        <div class="row">
                                            <!-- Total Sum Insured -->
                                            <div class="col-lg-3 col-md-6 form-group">
                                                <label>Total Sum Insured</label>
                                                <input type="text" value="₹{{proposal_request_data.firePremium.sumInsured}}" class="form-control" disabled />
                                            </div>
                                            <!-- SI For Buildings Fire -->
                                            <div class="col-lg-3 col-md-6 form-group">
                                                <label>SI For Buildings (Fire)</label>
                                                <input type="text" value="₹ {{proposal_request_data.firePremium.SIBuildings}}" disabled class="form-control" />
                                            </div>
                                            <!-- SI For Contents Fire -->
                                            <div class="col-lg-3 col-md-6 form-group">
                                                <label>SI For Content (Fire)</label>
                                                <input type="text" value="₹{{proposal_request_data.firePremium.SIContents}}" disabled class="form-control" />
                                            </div>
                                            <!-- SI For Stock Fire -->
                                            <div class="col-lg-3 col-md-6 form-group">
                                                <label>SI For Stock (Fire)</label>
                                                <input type="text" value="₹{{proposal_request_data.firePremium.SIStocks}}" disabled class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Buglary -->
                                <div class="cmnbox pb-0">
                                    <div class="col-12">
                                        <div class="row">
                                            <!-- Buglary Required -->
                                            <div class="col-lg-3 col-md-6 form-group">
                                                <label>Burglary Required</label>
                                                <input type="text" value="{{proposal_request_data.optingBurglary==false?'No':'Yes'}}" disabled class="form-control" />
                                            </div>
                                            <!-- SI For Contents - Buglary -->
                                            <div class="col-lg-3 col-md-6 form-group" *ngIf='proposal_request_data.optingBurglary'>
                                                <label>SI For Contents (Burglary)</label>
                                                <input type="text" value="₹{{proposal_request_data.burglaryPremium.SIContents}}" disabled class="form-control" />
                                            </div>
                                            <!-- SI For Stock- Buglary -->
                                            <div class="col-lg-3 col-md-6 form-group" *ngIf='proposal_request_data.optingBurglary'>
                                                <label>SI For Stock (Burglary)</label>
                                                <input type="text" autocomplete="off" value="₹{{proposal_request_data.burglaryPremium.SIStocks}}" disabled class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="cmnbox pb-0 brdrBtm">
                                    <div class="col-12">
                                        <div class="row">
                                            <!-- Basic Fire Premium -->
                                            <div class="col-lg-3 col-md-6 form-group">
                                                <label>Basic Fire Premium</label>
                                                <input type="text" value="₹{{proposal_request_data.firePremium.basicPremium | number:'1.2-2'}}" disabled class="form-control" />
                                            </div>
                                            <!-- Total Fire Premium -->
                                            <div class="col-lg-3 col-md-6 form-group">
                                                <label>Total Fire Premium (incl. GST)</label>
                                                <input type="text" value="₹{{proposal_request_data.firePremium.totalPremium | number:'1.2-2'}}" disabled class="form-control" />
                                            </div>
                                            <!-- Basic Buglary Premium -->
                                            <div class="col-lg-3 col-md-6 form-group" *ngIf='proposal_request_data.optingBurglary'>
                                                <label>Basic Burglary Premium</label>
                                                <input type="text" value="₹{{proposal_request_data.burglaryPremium.basicPremium | number:'1.2-2'}}" disabled class="form-control">
                                            </div>
                                            <!-- Total Burglaty Premium -->
                                            <div class="col-lg-3 col-md-6 form-group" *ngIf='proposal_request_data.optingBurglary'>
                                                <label>Total Burglary Premium (incl. GST)</label>
                                                <input type="text" value="₹{{proposal_request_data.burglaryPremium.totalPremium | number:'1.2-2'}}" disabled class="form-control" />
                                            </div>
                                        </div>
                                        <ul class="premiumUl">
                                            <li class="p-0">
                                              <div>
                                                <span>Total Premium Payable</span>
                                                <strong *ngIf='!proposal_request_data.optingBurglary'>{{proposal_request_data.firePremium.totalPremium | number:'1.2-2'}}</strong>
                                                <strong *ngIf='proposal_request_data.optingBurglary'>{{(proposal_request_data.firePremium.totalPremium + proposal_request_data.burglaryPremium.totalPremium) | number:'1.2-2'}}</strong>
                                              </div>                          
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Proposal Details -->
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#propDetails">Proposal Details</a>
                        </div>
                        <div id="propDetails" class="collapse" data-parent="#accordion">
                            <div class="card-body"> 
                                <div class="cmnbox pb-0">
                                    <div class="col-12">
                                        <div class="row">
                                            <!-- Segment Name -->
                                            <div class="col-lg-3 col-md-6 form-group">
                                                <label>Segment Name</label>
                                                <input type="text" class="form-control" value="{{segment_name}}" disabled/>
                                            </div>
                                            <!-- Occupancy -->
                                            <div class="col-lg-3 col-md-6 form-group">
                                                <label>Occupancy</label>
                                                <input type="text" class="form-control" value="{{proposal_request_data.OccupancyDesc}}" disabled/>
                                            </div>
                                            <!-- Property Type -->
                                            <div class="col-lg-3 col-md-6 form-group">
                                                <label>Property Type</label>
                                                <input type="text" class="form-control" value="{{proposal_request_data.isPropertyRented==false?'Owned':'Rented'}}" disabled/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="cmnbox pb-0">
                                    <div class="col-12">
                                      <div class="row">
                                          <!-- Risk Start Date -->
                                        <div class="col-lg-3 col-md-6 form-group">
                                          <label>Risk Start Date</label>
                                          <input type="text" class="form-control" value="{{proposal_request_data.riskStartDate }}" disabled/>
                                        </div>
                                        <!-- Risk End Date -->
                                        <div class="col-lg-3 col-md-6 form-group">
                                          <label>Risk End Date</label>
                                          <input type="text" class="form-control" value="{{proposal_request_data.riskEndDate}}" disabled/>
                                        </div>
                                        <!-- Risk Location Address line 01 -->
                                        <div class="col-lg-3 col-md-6 form-group">
                                          <label>Risk Location Address line 01</label>
                                          <input type="text" class="form-control" value="{{proposal_customer_data.PresentAddrLine1}}" disabled/>
                                        </div>
                                        <!-- Risk Location Address line 02 -->
                                        <div class="col-lg-3 col-md-6 form-group">
                                          <label>Risk Location Address line 02</label>
                                          <input type="text" class="form-control" value="{{proposal_customer_data.PresentAddrLine2}}" disabled/>
                                        </div>
                                      </div>
                                    </div>                    
                                </div>  

                                <div class="cmnbox pb-0">
                                    <div class="col-12">
                                      <div class="row">
                                          <!-- Risk Location CIty -->
                                        <div class="col-lg-3 col-md-6 form-group">
                                          <label>Risk Location City</label>
                                          <input type="text" class="form-control" value="{{proposal_customer_data.PresentAddrCityText}}" disabled/>
                                        </div>
                                        <!-- Risk Location State -->
                                        <div class="col-lg-3 col-md-6 form-group">
                                          <label>Risk Location State</label>
                                          <input type="text" class="form-control" value="{{proposal_customer_data.PresentAddrStateText}}" disabled/>
                                        </div>
                                        <!-- Risk Location Pincode -->
                                        <div class="col-lg-3 col-md-6 form-group">
                                          <label>Risk Location Pincode</label>
                                          <input type="text" class="form-control" value="{{proposal_customer_data.PresentAddrPincodeText}}" disabled/>
                                        </div>
                                        <!-- Risk Description For Fire -->
                                        <div class="col-lg-3 col-md-6 form-group">
                                          <label>Risk Description For Fire</label>
                                          <input type="text" class="form-control" value="{{proposal_request_data.FireRiskDesc}}" disabled/>
                                        </div>
                                      </div>
                                    </div>                    
                                </div>


                            </div>
                        </div>
                    </div>
                    <!-- Insured Details -->
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#insDetails">Insured Details</a>
                        </div>
                        <div id="insDetails" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <div class="cmnbox pb-0">
                                    <div class="col-12">
                                      <div class="row">
                                          <!-- Insured Name -->
                                        <div class="col-lg-3 col-md-6 form-group">
                                          <label>Insured Name</label>
                                          <input type="text" class="form-control" value="{{proposal_request_data.customerName}}" disabled/>
                                        </div>
                                        <!-- Email -->
                                        <div class="col-lg-3 col-md-6 form-group">
                                          <label>Email</label>
                                          <input type="text" class="form-control" value="{{proposal_customer_data.EmailAddress}}" disabled/>
                                        </div>
                                        <!-- Mobile -->
                                        <div class="col-lg-3 col-md-6 form-group">
                                          <label>Mobile</label>
                                          <input type="text" class="form-control" value="{{proposal_customer_data.MobileNumber}}" disabled/>
                                        </div>
                                        <!-- Address Line 1 -->
                                        <div class="col-lg-3 col-md-6 form-group">
                                          <label>Address line 1</label>
                                          <input type="text" class="form-control" value="{{proposal_customer_data.PermanentAddrLine1}}" disabled/>
                                        </div>
                                      </div>
                                    </div>                    
                                  </div> 

                                  <div class="cmnbox pb-0">
                                    <div class="col-12">
                                      <div class="row">
                                          <!-- Address Line 2 -->
                                        <div class="col-lg-3 col-md-6 form-group">
                                          <label>Address line 2</label>
                                          <input type="text" class="form-control" value="{{proposal_customer_data.PermanentAddrLine2}}" disabled/>
                                        </div>
                                        <!-- City -->
                                        <div class="col-lg-3 col-md-6 form-group">
                                          <label>City</label>
                                          <input type="text" class="form-control" value="{{proposal_customer_data.PermanentAddrCityText}}" disabled/>
                                        </div>
                                        <!-- State -->
                                        <div class="col-lg-3 col-md-6 form-group">
                                          <label>State</label>
                                          <input type="text" class="form-control" value="{{proposal_customer_data.PermanentAddrStateText}}" disabled/>
                                        </div>
                                        <!-- Pincode -->
                                        <div class="col-lg-3 col-md-6 form-group">
                                          <label>Pincode</label>
                                          <input type="text" class="form-control" value="{{proposal_customer_data.PermanentAddrPincodeText}}" disabled/>
                                        </div>
                                      </div>
                                    </div>                    
                                </div>
                                <div class="cmnbox pb-0">
                                    <div class="col-12">
                                      <div class="row">
                                        <div class="col-lg-3 col-md-6 form-group">
                                          <label>Contact Person Name</label>
                                          <input type="text" class="form-control" value="{{proposal_customer_data.ContactPersonName}}" disabled/>
                                        </div>
                                        <div class="col-lg-3 col-md-6 form-group" *ngIf='proposal_customer_data.PANNumber !=undefined || proposal_customer_data.PANNumber !=null'>
                                          <label>PAN Number</label>
                                          <input type="text" class="form-control" value="{{proposal_customer_data.PANNumber}}" disabled/>
                                        </div>
                                      </div>
                                    </div>                    
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- GST Details -->
                    <div class="card" *ngIf='proposal_customer_data.GSTDetails'>
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#GSTDetails">GST Details</a>
                        </div>
                        <div id="GSTDetails" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <div class="cmnbox pb-0">
                                    <div class="col-12">
                                        <div class="row">
                                            <!-- GST Registration Status -->
                                          <div class="col-lg-3 col-md-6 form-group">
                                            <label>GST Registration Status</label>
                                            <input type="text" class="form-control" value="{{proposal_customer_data.GSTDetails.GST_REGISTRATION_STATUS_TEXT}}" disabled/>
                                          </div>
                                          <!-- GSTIN Number -->
                                          <div class="col-lg-3 col-md-6 form-group">
                                            <label>GSTIN Number</label>
                                            <input type="text" class="form-control" value="{{proposal_customer_data.GSTDetails.GSTIN_NO}}" disabled/>
                                          </div>
                                          <!-- Constitution of Business -->
                                          <div class="col-lg-3 col-md-6 form-group">
                                            <label>Constitution of Business</label>
                                            <input type="text" class="form-control" value="{{proposal_customer_data.GSTDetails.CONSTITUTION_OF_BUSINESS_TEXT}}" disabled/>
                                          </div>
                                          <!-- Customer Type -->
                                          <div class="col-lg-3 col-md-6 form-group">
                                            <label>Customer Type</label>
                                            <input type="text" class="form-control" value="{{proposal_customer_data.GSTDetails.CUSTOMER_TYPE_TEXT}}" disabled/>
                                          </div>
                                        </div>
                                      </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Hypothecation Details -->
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#hypoDetails">Hypothecation Details</a>
                        </div>
                        <div id="hypoDetails" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                <div class="cmnbox pb-0">
                                    <div class="col-12">
                                        <div class="row">
                                            <!-- Customer Type -->
                                          <div class="col-lg-3 col-md-6 form-group">
                                            <label>Customer Type</label>
                                            <input type="text" class="form-control" value="{{proposal_request_data.customerType}}" disabled/>
                                          </div>
                                          <!-- Bank Hypothecation -->
                                          <div class="col-lg-3 col-md-6 form-group">
                                            <label>Bank Hypothecation</label>
                                            <input type="text" class="form-control" value="{{proposal_request_data.isHypothetication=='true'?'Yes':'No'}}" disabled/>
                                          </div>
                                          <!-- Bank Name -->
                                          <div class="col-lg-3 col-md-6 form-group">
                                            <label>Bank Name</label>
                                            <input type="text" class="form-control" value="{{proposal_request_data.financierName}}" disabled/>
                                          </div>
                                        </div>
                                      </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- Payment Redirect Link -->
                <div class="col-12 text-center">
                    <button type="submit" (click)="goToPayment()" class="cstmbtn">BUY NOW</button>
                </div>
            </div>
        </div>
    </div>
</section>
