/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-form-field-underline{
    display: none;
}

.mat-form-field-infix{
    padding: 0px;
}

.loader1{
    width: 100%;
    height: 100%;
    top: 0px;
    bottom: 0px;
   
    left: 0px;
    right: 0px;
    position: fixed;
    text-align: center;
    z-index:1000000;
    background-color: rgba(0,0,0,0.5);
}

.toast-container
{
    padding-top: 60px;
    animation: move 2s both;
    border: 1px solid transparent;
}

.toast-error {
    position: fixed;
    right: 0;
    
    padding: .75rem 1.25rem;
    margin-top: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    animation: move 2s both;
  }

  .loaderdiv {
    width: 170px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10000;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }