
<div *ngIf="showOccupancy" style='overflow:auto; width:400px;height:400px;'>
    <!-- <div> -->
        <input class="form-control srch" type="text" name="search" [(ngModel)]="search" autocomplete="off"  />
        <li style="list-style-type: none;" *ngFor="let data of Data | filter:search">
            <br><ul style="list-style-type: none;" (click)="selectName(data.name)">
                {{data.name}}
            </ul>
        </li>
    <!-- </div> -->
</div>