<div class="container title"><h2></h2></div>

<section class="container-fluid mainsec">
    <div class="row">
      <div class="container">
        <div class="row">
          <div class="col-12 mb-2">
            <ul class="premiumUl mt-0">
              <li class="p-0">
                <div style="background: #003d59;">
                  <span style="color: #ffffff;">Total Premium Payable</span>
                  <strong style="color: #ffffff;" *ngIf='!proposal_request_data.optingBurglary'>₹ {{proposal_request_data.firePremium.totalPremium | number:'1.2-2'}}</strong>
                  <strong style="color: #ffffff;" *ngIf='proposal_request_data.optingBurglary'>₹ {{(proposal_request_data.firePremium.totalPremium + proposal_request_data.burglaryPremium.totalPremium) | number:'1.2-2'}}</strong>
                </div>                          
              </li>
            </ul>
          </div>
          <div class="col-12 accorDiv" id="accordion">
            <div class="card">
              <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#selMode">
                  Select Mode
                </a>
              </div>
              <div id="selMode" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                  <div class="cmnbox">
                    <div class="paymentmode">
                      <ul>
                        <li (click)="makePayment1('wallet',$event)" style="cursor: pointer;">
                          <a  title="Wallet">
                            <div>
                              <img src="assets/images/wallet2.png" alt="Wallet">
                            </div>
                            <span>Wallet</span>
                          </a>
                        </li>
                        <li (click)="makePayment1('card',$event)" style="cursor: pointer;">
                          <a  title="Credit Card">
                            <div>
                              <img src="assets/images/credit2.png" alt="Credit Card">
                            </div>
                            <span>Credit Card</span>
                          </a>
                        </li>
                        <li (click)="makePayment1('card',$event)" style="cursor: pointer;">
                          <a  title="Debit Card">
                            <div>
                              <img src="assets/images/debit2.png" alt="Debit Card">
                            </div>
                            <span>Debit Card</span>
                          </a>
                        </li>
                        <li (click)="makePayment1('netbanking',$event)" style="cursor: pointer;">
                          <a  title="Net Banking">
                            <div>
                              <img src="assets/images/file2.png" alt="Net Banking">
                            </div>
                            <span>Net Banking</span>
                          </a>
                        </li>
                        <li (click)="makePayment1('upi',$event)" style="cursor: pointer;">
                          <a  title="UPI">
                            <div>
                              <img src="assets/images/Bhim2.png" alt="UPI">
                            </div>
                            <span>UPI</span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
